.nav-bar{
    background-color: black;
}
.hero-wrapper{
    color: tomato !important;
    font-size: 60px;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
}
.nav-link{
    color: white;
}
.nav-link:hover{
    color: tomato !important;

  }
.nav-link.active{
    color: tomato !important;
   
  }

















  .footer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    gap: 3.5rem;
    background-color: rgb(21, 24, 48);
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  .footer-content{
    color: white;
    margin-bottom: 1.5rem;
    text-align: left;
    margin-top: 20%;
    margin-left: 20%;
  }
  .footer-content li{
    margin-bottom: 6px;
  list-style:none ;
  }
  .footer-content li a{
   display: block;
   color: rgb(233, 241, 248);
   font-size: 15px;
   font-weight: 400;
   transition: all .40s ease;
   text-decoration: none;
  }
  .footer-content li a:hover{
    transform: translateY(-3px) translateX(-5px);
    color: rgb(252, 252, 239);
  }
  .footer-Icon{
    color: white;
    margin-bottom: 1.5rem;
    text-align: left;
    margin-top: 20%;
    margin-left: 20%;
  }
  .footer-Icon li{
    margin-bottom: 6px;
    list-style:none ;
    font-size: 10px;
  }
  i{
    color: tomato;
  }
